<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sarang.mapper.user.UserMapper">
	
	<select id="searchUserInfo" resultType="com.sarang.model.user.EnoVO">
		SELECT * FROM TUSR00100
		WHERE 1=1
		  <if test='seq != null and !seq.equals("")'>
		  AND SEQ LIKE CONCAT('%',#{seq},'%')
		  </if>
		  <if test='eno != null and !eno.equals("")'>
		  AND ENO LIKE CONCAT('%',#{eno},'%')
		  </if>
		ORDER BY SEQ desc LIMIT #{start}, #{size}
	</select>

	<select id="getUserPageInfo" resultType="HashMap">
		SELECT 
			count(*) AS totalCnt,
			CEIL((count(*)/#{size})) as totalPage
		FROM TUSR00100
		WHERE 1=1
		  <if test='seq != null and !seq.equals("")'>
		  AND SEQ LIKE CONCAT('%',#{seq},'%')
		  </if>
		  <if test='eno != null and !eno.equals("")'>
		  AND ENO LIKE CONCAT('%',#{eno},'%')
		  </if>
	</select>
	
	<insert id="insertUserInfo" parameterType="com.sarang.model.user.EnoVO">
		INSERT INTO TUSR00100(
			ENO,
			ENO_PW,
			NAME,
			CELPH,
			EMAIL,
			CRET_DT,
			CRET_TM,
			CHG_DT,
			CHG_TM
		)VALUE(
			#{eno},
			#{enoPw},
			#{name},
			#{celph},
			#{email},
			DATE_FORMAT(NOW(),'%Y%m%d'),
			DATE_FORMAT(NOW(),'%H%i%s'),
			DATE_FORMAT(NOW(),'%Y%m%d'),
			DATE_FORMAT(NOW(),'%H%i%s')
		)
	</insert>

	<update id="updateUserInfo" parameterType="com.sarang.model.user.EnoVO">
		UPDATE TUSR00100 SET
			ENO = #{eno},
			NAME = #{name},
			CELPH = #{celph},
			EMAIL = #{email},
			CHG_DT = DATE_FORMAT(NOW(),'%Y%m%d'),
			CHG_TM = DATE_FORMAT(NOW(),'%H%i%s')
		WHERE SEQ = #{seq}
	</update>

	<update id="changeUserPass" parameterType="com.sarang.model.user.EnoVO">
		UPDATE TUSR00100 SET
			ENO_PW = #{enoPw}
			CHG_DT = DATE_FORMAT(NOW(),'%Y%m%d'),
			CHG_TM = DATE_FORMAT(NOW(),'%H%i%s')
		WHERE SEQ = #{seq}
	</update>

	<delete id="deleteUserInfo" parameterType="java.util.List">
		DELETE FROM TUSR00100 WHERE SEQ IN
		<foreach collection="deleteList" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>

</mapper>