/* input number 화살표 제거 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.nav{
    width: 100%;
    display: flex;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
}

.nav-black{
    background: black;
    color: white;
}

.headTitle{
    padding: 20px;
    margin-right:10rem;
}

.navBtn {
    padding: 25px;
}

.navBtn li {
    display: inline-block;
    margin-left: 3rem;
    text-align:right;
}

.navBtn li a{
    color: white;
    text-decoration: none;
}

.navBtn li a:hover{
    color: blue;
}