/* Chrome, Safari, Edge, Opera (input[type=number] 화살표 제거)*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  (input[type=number] 화살표 제거)*/
input[type=number] {
    -moz-appearance: textfield;
}

.list-box {
    padding : 10px;
    border-bottom: 1px solid#eee;
    background-color: white;
}
.list-box h4{
    font-size: 16px;
    margin: 5px;
}
.list-box p {
    font-size: 13px;
    margin: 5px;
    color: grey;
}