<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sarang.mapper.UserMapper">
	<select id="checkUserLogin" resultType="com.sarang.model.UserVO">
		SELECT * FROM TUSR00100
		WHERE 1=1
		  AND USER_ID = #{userId}
		  AND USER_PW = #{userPw}
	</select>

  <select id="checkUserDuplication" resultType="String" parameterType="String">
		SELECT USER_ID FROM TUSR00100
		WHERE 1=1
		  AND USER_ID = #{userId}
	</select>

  <select id="getUserInfo" resultType="com.sarang.model.UserVO">
		SELECT * FROM TUSR00100
		WHERE 1=1
		  AND USER_ID like concat('%', #{userId} ,'%')
		ORDER BY SEQ desc LIMIT #{start}, #{size}
	</select>

  <update id="updateUserInfo" parameterType="com.sarang.model.UserVO">
    UPDATE TUSR00100 SET
        USER_ID = #{userId},
        USER_PW = #{userPw},
        CELPH = #{celph},
        EMAIL = #{email},
        CHG_DATE = DATE_FORMAT(NOW(),'%Y%m%d'),
        CHG_TIME = DATE_FORMAT(NOW(),'%H%i%s')
    WHERE SEQ = #{seq}
  </update>

  <update id="resetUserPw" parameterType="com.sarang.model.UserVO">
    UPDATE TUSR00100 SET
        USER_PW = #{userPw},
        CHG_DATE = DATE_FORMAT(NOW(),'%Y%m%d'),
        CHG_TIME = DATE_FORMAT(NOW(),'%H%i%s')
    WHERE SEQ = #{seq}
  </update>

  <insert id="insertUserInfo" parameterType="com.sarang.model.UserVO">
    INSERT INTO TUSR00100
      (
        USER_ID,
        USER_PW,
        USER_NM,
        CELPH,
        EMAIL,
        CRET_DATE,
        CRET_TIME,
        CHG_DATE,
        CHG_TIME
      )VALUE(
        #{userId},
        #{userPw},
        #{userNm},
        #{celph},
        #{email},
        DATE_FORMAT(NOW(),'%Y%m%d'),
        DATE_FORMAT(NOW(),'%H%i%s'),
        DATE_FORMAT(NOW(),'%Y%m%d'),
        DATE_FORMAT(NOW(),'%H%i%s')
      )
  </insert>
</mapper>